


.slider-container {
  position: relative;
  width: 100%; 
  height: 450px; 
  overflow: hidden; 
}


.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: transform 1s ease-in-out; 
}


.image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 1s ease-in-out;
}






.content {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.content h3 {
  font-size: 18px;
  margin: 5px 0;
}

.content p {
  font-size: 14px;
}


  @media (max-width: 768px) {
    .content h3 {
      font-size: 16px;
    }

    .content p {
      font-size: 12px;
    }
  }
