.slider-container {
  position: relative;
  width: 100%; 
  height: 450px; 
  overflow: hidden; 
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: transform 1s ease-in-out; 
}

.image-container {
  position: relative; /* added */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  pointer-events: none;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 1s ease-in-out;
}

.content {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.content h3 {
  font-size: 30px;
  margin: 5px 0;
  color: white;
}

.content p {
  font-size: 14px;
  color: wheat;
}

@media (max-width: 768px) {
  .content h3 {
    font-size: 16px;
  }
  .content p {
    font-size: 12px;
  }
}
.slider-container {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  text-align: center;
  margin-top: 10px;
}

.controls button {
  background-color: black;
  color: white;
  border: none;
  margin: 5px;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.controls button:hover {
  background-color: gray;
}
